body {
	margin: 0;
    margin-left: auto;
    margin-right: auto;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

.header {
    background-color: #ffffff;
	position: fixed;
    top: 0px;
    width: 100%;
	background: #ffffff;
	z-index: 2;
	position: absolute;
}

.header .description {
    text-align: center;
/*    margin-right: auto;*/
    margin-bottom: 3em;
/*    margin-left: auto;*/
    padding-bottom: 0;
    display: block;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    width: inherit;
}

.logo {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.main {
/*    width: inherit;*/
    background: #bfbfbf;
    padding-bottom: 200px;
    padding-top: 150px;
}

.main .content {
    max-width: inherit;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.main .content .headshot {
    width: 500px;
    height: 460px;
	padding-top: 5em;
    padding-bottom: 2em;
}

.main .content .writing {
    margin-left: auto;
    margin-right: auto;
}

/****** Media Queries ******/

/* Laptop */

@media screen and (min-width: 1200px)   
{
    .header {
        height: 12em;
    }
    
    .description {
        font-size: 30px;
    }
    
    .content {
        width: 95%;
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 768px) 
{
    .header {
        height: 12em;
    }
    
     .description {
        font-size: 30px;
    }

    .content {
        width: 75%;
    }
    
    .main .content .headshot {
        max-width: 515px;
        min-width: 500px;
    }
    
    }

/* Tablet Styles */

@media screen and (max-width: 768px)
{
      .header {
        height: 8em;
    }
   
    .logo {
        max-width: 400px;
    }  
    
    .description {
        font-size: 25px;
    }
    
    .content {
        width: 50%;
    }
    
      .main .content .headshot {
        max-width: 315px;
        min-width: 300px;
        max-height: 315px;
        min-height: 300px;
    }
}
    
/* Mobile Styles */
    
@media screen and (max-width: 480px)
{
    .header {
        height: 7em;
    }
    
  .logo {
        max-width: 300px;
    }
    
    .headshot {
        display: none;
    }  
    
}

